In [1]:
from pyonset import Onset

In [6]:
# First we have the data in a pandas dataframe, indexed by time and preferably the index knows the frequency'
# We need to tell the software the particle species and all of the channel energy boundaries
# The software has to differentiate between custom data and default data when running processes (self.custom_data)
import os
import pandas as pd

In [17]:
# The path to the data archive
example_data_path = "/home/chospa/bepicolombo/bepi_sixsp_plotter/2023-03-13/data"

# The ame
filename = "phys_data_2023-03-12_side0.csv"

df = pd.read_csv(f"{example_data_path}{os.sep}{filename}", index_col="TimeUTC")

# The index of the dataframe needs to be datetime, and the frequency of it must be known
df.index = pd.to_datetime(df.index)
df.index.freq = "24 s"

# No unnecessary data columns
df.drop(columns=["DT", "PA"], inplace=True)

# Displays the dataframe
display(df)

,P1,P2,P3,P4,P5,P6,P7,P8,P9,E1,E2,E3,E4,E5,E6,E7
TimeUTC,,,,,,,,,,,,,,,,
2023-03-12 00:00:00,0.0,0.00,0.00,0.00,0.000,0.000,0.000,0.0000,0.0000,0.0,0.0,11.40,0.0,0.0,0.000,0.000
2023-03-12 00:00:24,0.0,0.00,0.00,0.00,0.000,0.000,0.000,0.0000,0.0144,167.0,0.0,7.58,0.0,0.0,0.000,0.000
2023-03-12 00:00:48,0.0,0.00,0.00,0.00,0.000,0.000,0.000,0.0000,0.0000,0.0,0.0,0.00,0.0,0.0,0.627,0.000
2023-03-12 00:01:12,0.0,0.00,0.00,0.00,0.000,0.000,0.000,0.0000,0.0000,112.0,17.6,0.00,0.0,0.0,0.313,0.000
2023-03-12 00:01:36,0.0,0.00,0.00,0.00,0.000,0.000,0.000,0.0000,0.0000,55.8,0.0,0.00,0.0,0.0,0.000,0.000
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2023-03-14 23:58:00,61.2,7.14,3.95,3.42,1.590,0.000,0.142,0.0671,0.0144,7090.0,2200.0,865.00,325.0,10.5,0.314,0.000
2023-03-14 23:58:24,24.5,14.30,9.88,5.70,1.590,0.954,0.142,0.0671,0.0000,5030.0,1920.0,819.00,309.0,21.0,0.000,0.088
2023-03-14 23:58:48,61.2,21.40,9.89,2.28,1.590,0.000,0.142,0.0671,0.0000,6480.0,2360.0,895.00,262.0,16.8,0.314,0.000
2023-03-14 23:59:12,48.9,14.30,5.93,5.70,1.590,0.954,0.000,0.0671,0.0000,6420.0,2390.0,895.00,325.0,14.7,0.000,0.000
2023-03-14 23:59:36,61.2,7.14,0.00,1.14,0.795,1.190,0.000,0.0000,0.0000,6700.0,1810.0,827.00,325.0,23.1,0.627,0.000